/* CSS HEX
--white: #FEFEFEff;
--velvet-orchid: #572C6Dff;
--vintage-grape: #684069ff;
--golden-bronze: #BF940Bff;
--white-2: #FFFFFFff; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.small-space{
    height: 20px;
}
body{
    padding: 14px 14px 14px 14px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
nav{
    height: 60px;
    background-color: #572C6Dff;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 16px;
    position: absolute;
    right: 14px;
    left: 14px;
    top: 14px;
    box-shadow: 0 4px 4px #572c6d4b;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    margin-right: 5px;
}
.logo p{
    font-family: tahoma;
    font-size: 20px;
    font-weight: 600;
    color: #FEFEFEff;
}


.links{
    display: flex;
    gap: 20px;
}
.links a{
    color: #FEFEFEff;
    font-family: tahoma;
    text-decoration: none;
}

.main{
    height: 100%;
    width: 100%;
    background-color:  rgb(229, 220, 230);
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.create-account{
    display: flex;
    gap: 20px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
}

.left-holder{
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.left-holder input, .right-holder input{
    height: 42px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0 0 4px #572c6d3c;
    padding: 0 10px 0 10px;
    font-size: 16px;
}
.left-holder input:active, .right-holder input:active{
    border: 2px solid #572c6d;
}


.left-holder label, .right-holder label{
    font-family: tahoma;
    font-size: 14px;
    color: #572c6d;
}

.right-holder{
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.regis-title{
    display: grid;
    place-content: center;
    font-family: tahoma;
    font-size: 26px;
}
.btn-holder{
    display: flex;
    justify-content: left;
    align-items: center;
}
.btn-holder button{
    font-family: tahoma;
    font-size: 18px;
    width: 184px;
    height: 42px;
    border-radius: 21px;
    border: none
}
.actions{
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 30px;
}
.create-account{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.form{
    display: flex;
    gap: 30px;
}

.register-btn{
    background-color: #572c6d;
    color: #e5dce6;
}

.cancel-btn{
    background-color: #e5dce6;
    color: #572c6d;
}